@import "./variables.css";

/* =========================================
   GLOBAL
========================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Tamil", sans-serif;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: var(--bg-primary);
  transition: 0.3s ease;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background: var(--accent-orange);
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

.app {
  width: 100%;
  min-height: 100vh;
  background: var(--bg-primary);
  color: var(--text-primary);
  transition: 0.3s ease;
}